# IP,Name
# ---------- VLAN 10 (User) ----------
192.168.10.2,Computer1
192.168.10.3,Computer2


# ---------- VLAN 20 (IoT) ----------
192.168.20.2,Device1
192.168.20.3,Device2


# ---------- VLAN 30 (Guest) ----------
192.168.30.20,Guest Phone

# ---------- VLAN 40 (Infra) ----------
192.168.40.1,Router
192.168.40.2,Switch1
192.168.40.3,Access Point

